// public/scss/utils/_variables.scss
$primary: #264653;
$secondary: #2a9d8f;
$accent: #e76f51;
$bg-body: #f4f7f6;
$text-main: #333333;
$white: #ffffff;
$sidebar-width: 260px;
$text-muted: #6c757d; // <--- ¡ASEGÚRATE DE QUE ESTA LÍNEA ESTÉ AQUÍ!